/* Cadastro1.css */

body {
	font-family: "Poppins", sans-serif;
	max-width: auto;
	margin: auto;
}
.cadastro1-container {
  max-width: 300px;
  margin: 50;
  padding: 20px;
  background-color: #b28484;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cadastro1-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 5px;
}

label {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
  display: display-box;
}

input, select {
  width: 60%;
  padding: 10px;
  margin-top: 5%;
  border-radius: 15px;
  border: 3px solid #ac1616;
}

.button-group {
  display: flexbox;
  justify-content: center;
}
